@import '../../../theme/colors.scss';

#cardTitle {
  text-align: center;
  margin-top: 20px;
}

#topHeading {
  padding-bottom: 4%;
  box-shadow: 0px 1px #363431;
  color: $black;
}

.image-container {
  display: flex;
  justify-content: center;
  box-shadow: 0px 1px #363431;
}

.ion-avatar {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
}

.toolbar {
  display: flex;
  justify-content: space-between;

  & > p {
    font-size: 1.15rem;
  }
}

.cancelButton {
  text-align: center;
}

ion-chip {
  --background: #4895e2;
  --color: #f6f6f6;
}

.item-divide {
  --ion-grid-width: 5%;
}

.event-main {
  display: flex;
  align-items: center;
  padding: 0 1rem 1rem;
  padding-top: 15px;
  margin-top: 15%;
  // padding-bottom: 5px;
  gap: 1rem;

  & > :last-child {
    margin-left: auto;
    padding-right: 2.5%;
    font-size: large;
  }
}

.eventDetails {
  display: flex;
  flex-direction: column;
  gap: 2px;

  & > p {
    margin: 0%;
  }

  &--creator {
    font-size: 75%;
    color: grey;
  }
}

ion-fab-button {
  --background: #{$yellow-dark};
  --background-hover: #{$brand-primary-active};
  --background-activated: #{$brand-primary-active};
  --background-focused: #{$brand-primary-active};

  --color: #{$black};
}

ion-refresher,
ion-refresher-content {
  --background: #{$white} !important;
  background: $white !important;
}
