$white: #ffffff !default;
$brand-primary: #ffdf64 !default;
$brand-primary-active: #b9a248 !default;
$brand-secondary: #e2d686 !default;
$brand-tertiary: #d4e6b5 !default;
$brand-dark: #877b66 !default;
$brand-dark-2: #423c32 !default;
$black: #000000 !default;
