@import '../../../theme/colors.scss';

.login_head {
  display: flex;
  flex-direction: row;
  gap: 9px;
  margin-top: 30%;
  margin-left: 60px;
}

.login_input {
  display: flex;
  flex-direction: column;
  margin-top: 79px;
  margin-left: 45px;
  gap: 36px;

  &--container {
    font-weight: 700;
    font-size: 13px;
    font-family: 'Inter';
    width: 85%;
  }

  &--error {
    margin-left: 12px;
    font-size: 12px;
  }
}

.login_btn {
  margin-left: 15px;
  margin-right: 60px;
  margin-top: 61px;
  text-transform: initial;
}

.login_check {
  display: flex;
  flex-direction: row;
  gap: 7px;
}

.login_last {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  margin-top: 34px;
}

.login_forgot {
  margin-top: 3.4px;
}

.sign_sub {
  display: flex;
  flex-direction: row;
  gap: 4px;
  justify-content: center;
  margin-top: 18px;

  .bold {
    color: $brand-dark-2;
    text-decoration: underline;
  }
}

ion-button {
  --background: #{$brand-primary};
  --background-hover: #{$brand-primary};
  --background-activated: #{$brand-primary-active};
  --background-focused: #{$brand-primary-active};

  --color: $black;
}
