<ion-content>
  <div class="login_head">
    <h5 class="bold">Welcome</h5>
    <h5 class="bold">back</h5>
  </div>

  <div class="login_input">
    <form [formGroup]="fg" (ngSubmit)="onSubmit()">
      <ion-item class="login_input--container">
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" type="text" placeholder="Enter email"></ion-input>
      </ion-item>
      <ion-text color="danger" class="login_input--error" *ngIf="isInvalid('email')">
        * Please enter valid email address
      </ion-text>

      <ion-item class="login_input--container">
        <ion-label position="floating">Password</ion-label>
        <ion-input formControlName="password" type="password" placeholder="Enter Password"></ion-input>
      </ion-item>
      <ion-text class="login_input--error" color="danger" *ngIf="isInvalid('password')">
        * Please enter your password
      </ion-text>

      <ion-button expand="block" class="login_btn" type="submit">
        <span class="bold"> Log In </span>
      </ion-button>
    </form>
  </div>

  <div class="sign_sub">
    <p class="bold" (click)="DoesNotHaveAnAccountClick()">Don't have an account?</p>
  </div>
</ion-content>
