@import '../../../theme/colors.scss';

.register_head {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-top: 30%;
  margin-left: 45px;

  &--primary {
    font-weight: bold;
  }

  &--secondary {
    color: $login-secondary;
    font-weight: bold;
  }
}

.register_input {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  margin-left: 30px;
  gap: 36px;

  &--container {
    font-weight: 700;
    font-size: 13px;
    font-family: 'Inter';
    width: 85%;
  }

  &--error {
    margin-left: 12px;
    font-size: 12px;
  }
}

.register_btn {
  margin-left: 15px;
  margin-right: 60px;
  margin-top: 60px;
  color: $white;
  text-transform: initial;
}

.register_sub {
  display: flex;
  flex-direction: row;
  gap: 4px;
  justify-content: center;
  margin-top: 18px;

  .bold {
    text-decoration: underline;
  }
}
