<ion-content>
  <div class="register_head">
    <h5 class="register_head--primary">Create your</h5>
    <h5 class="register_head--secondary">Account</h5>
  </div>

  <div class="register_input">
    <form [formGroup]="fg" (ngSubmit)="onSubmit()">
      <ion-item class="register_input--container">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-text class="register_input--error" color="danger" *ngIf="isInvalid('email')">
        * Please enter valid email address
      </ion-text>

      <ion-item class="register_input--container">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-text class="register_input--error" color="danger" *ngIf="isInvalid('password')">
        * Password should have at least 6 characters
      </ion-text>

      <ion-button expand="block" class="register_btn" type="submit">
        <span class="bold"> Create Account </span>
      </ion-button>
    </form>
  </div>

  <div class="register_sub">
    <p class="bold" (click)="onHaveAnAccountClick()">Already have an account?</p>
  </div>
</ion-content>
